
<!-- <div><%= @letters.join %></div> -->
<div class="container">
  <h1>New game</h1>

  <div class="letters-display">
    <% @letters.each do |letter| %>
      <div class="letter"><%= letter %></div>
    <% end %>
  </div>

  <form action="/score" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <!-- sert à verifier que les data envoyés viennent de mon site à moi et pas de l'ext -->
     <!-- chaque input est une valeur -->
    <%= hidden_field_tag :grid, @letters %>
    <!-- params[:grid] => @letters -->
    <p>What is the longuest word you can find?</p>
    <div class="fields">
      <input type="text" name="guess" id="text_input">
      <input type="submit" value="play" id="submit_input">
    </div>
  </form>

</div>


